html {
    scroll-behavior: smooth;
}

body {
    height: auto;
    margin: 0;
    padding: 0;
}

#body {
    background-color: #f0f0F0;
    height: auto;
    display: flex;
    flex-direction: column;
    grid-gap: 0px 15px;
    justify-items: stretch;
    margin: auto;
}

#body > *{
    display: flex;
}

#body *{
    font-family: 'Saira Semi Condensed', sans-serif;
}

button, .book-ref {
    transition: background-color 0.3s, color 0.3s;
}

#body button:hover {
    cursor: pointer;
    background-color: #dfdfdf;
    color: #252525;
}

.book-ref:hover {
    cursor: pointer;
    background-color: #dfdfdf;
    color: #252525;
}

.top {
    grid-row: 1/2;
}

.main {
    display: flex;
}

.container {
    flex-basis: 65vh;
}

.container:nth-child(odd) {
    justify-content: flex-start;
}

.container:nth-child(odd) > .left, .container:nth-child(even) > .right {
    flex-basis: 20%;
    flex-shrink: 2000;
}

.container:nth-child(even) > .left, .container:nth-child(odd) > .right {
    flex-basis: 60%;
    flex-shrink: 2000;
}

.container:nth-child(even) {
    justify-content: flex-start;
}

.noscroll {
    overflow: hidden;
}

.blur {
    filter: blur(10px);
}

.text-white {
    color: #dfdfdf;
}

.about-description {
    display: none;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    overflow-y: scroll;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.vert-container {
    flex-direction: column;
}

.main > * {
    margin: auto 10px;
    width: 500px;
}

#main-bg{
    background-color: #ff6e2b;
    flex-basis: 100vh;
    background-image: url("Tracer-orangewhite.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}

#story-container{
    background-image: url("REINSITE.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: auto 100%;
}

#recognize-container {
    background-color: #252525;
}

#recognize-container * {
    color: #dfdfdf;
}

#perform-container {
    background-color: #ff6e2b;
}

form > label {
    position: absolute;
    left:     -10000px;
    top:      auto;
    width:    1px;
    height:   1px;
    overflow: hidden;
}

.overlay-item {
    width: 22rem;
    height: 25rem;
    padding: 7px;
}

#calendar {
    display: grid;
    background-color: #373737;
    grid-template: repeat(8, 3rem)/ repeat(7, 3rem);
    grid-gap: 2px;
    padding: 7px;
    width: 22rem;
    height: 25rem;
}

#month {
    grid-column: span 5;
    text-align: center;
}

button, .book-ref {
    padding: 3px 20px;
    flex-basis: 0%;
    flex-grow: 3;
    color: #dfdfdf;
    background-color: #252525;
    border: none;
    text-decoration: none;
}
#book-now {
    height: auto;
    flex-wrap: wrap;
    justify-content: space-around;
}

.booking-picker {
    background-color: #373737;
    height: 28rem;
    width: 30rem;

    margin: 2rem;
    padding:  7px;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    box-shadow: darkgray 3px 4px 10px;
}

.text-peach {
    color: peachpuff;
}

.text-orange {
    color: #ff6e2b;
}

.booking-picker > ul {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 60%;
    list-style-type: square;
}

.booking-picker > h1 {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 10%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.booking-picker > h2 {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 10%;
    display: flex;
    justify-content: center;
}

.booking-picker > button {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 20%;
    height: 4rem;
    background-color: #ffb363;#6caeaa;
    color: #252525;
    font-weight: bolder;
}

.day-selector {
    transition: all .4s;
}

.day-selector, .calendar-nav-item{
    color: #373737;
    background-color: #252525;
}

.day-enabled, .calendar-nav-item{
    color: #ff6e2b;
}

.calendar-nav-item, .day-selector>p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.time-select-item {
    width: 8rem;
    padding: .5rem 0px;
}

.time-select-list {
    display: none;
    position: relative;
    left: -2.5rem;
    top: -1.2rem;
}

.day-selected, .time-select-item {
    background-color: #dfdfdf;
    color: #252525;
}

.day-selected > .time-select-list {
    display: flex;
    flex-direction: column;
}

.time-select-item:hover {
    background-color: #656565;
    color: #dfdfdf;
}

.close-button {
    flex-grow: 0;
    height: 30px;
    width: 30px;
    margin: 1rem;
}

#info {
    display: flex;
    flex-direction: column;
    width: 22rem;
    height: 25rem;
    padding: 7px;
    background-color: #373737;
}

#about, #select-type{
    font-family: 'Saira Semi Condensed', sans-serif;
    background-color: #252525;
    color: #ff6e2b;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about {
    padding: 0px 20px;
    justify-content: start; 
    overflow-y: scroll;
}

#about, #select-type {
    flex-direction: column;
}

#about > *{
    color: #dfdfdf;
}

.hori-container {
    display: flex;
    flex-direction: row;
}

.down-arrow {
    left: 50%;
    transform: translateY(0%) rotate(45deg);

    opacity: 0;
}

@keyframes scrolldown {
  0%{
      transform: translateY(20%) rotate(45deg);
      opacity: 0.7;
  }
  50%{
      transform: translateY(0%) rotate(45deg);
      opacity: 0.2;
  }
  100%{
      transform: translateY(20%) rotate(45deg);
      opacity: 0.7;
  }
}
#queue-container {
    background-color: #252525;
    justify-content: space-evenly;
}

#queue {
    background: linear-gradient(37deg, rgb(217, 92, 35), rgb(255, 110, 43), rgb(217, 92, 35));
    height: 28rem;
    width: 30rem;
    margin: 1rem 1rem;
    border-radius: .2rem;
}

#queue-form {
    background: linear-gradient(37deg, rgb(217, 92, 35), rgb(255, 110, 43), rgb(217, 92, 35));
    background-color: #ff6e2b;

    display: flex;
    flex-direction: column;
    margin: 1rem 1rem;
    border-radius: .2rem;
    box-shadow: #ff963991 1px 2px 5px;
    height: 28rem;
    width: 30rem;
}

#queue-form > * {
    margin: .5rem .5rem;
    flex-grow: 1;
    border-width: 0px;
}

#queue-form > input {
    background-color: #373737;
    color: #dfdfdf;
    font-size: 1.5rem;
    font-weight: bolder;
    padding-left: .5rem;
}