body {
    height: 400vh;
    margin: 0;
    padding: 0;
}

#body {
    background-color: #f0f0F0;
    height: 400vh;
    display: flex;
    flex-direction: column;
    grid-gap: 0px 15px;
    justify-items: stretch;
    margin: auto;
}

#body > *{
    display: flex;
}

#body *{
    font-family: 'Saira Semi Condensed', sans-serif;
}

button {
    transition: background-color 0.3s, color 0.3s;
}

#body button:hover{
    cursor:pointer;
    background-color: #dfdfdf;
    color: #252525;
}

.top {
    grid-row: 1/2;
}

.main {
    display: flex;
}

.container {
    flex-basis: 50vh;
}

.container:nth-child(odd) {
    justify-content: flex-start;
}

.container:nth-child(odd) > .left, .container:nth-child(even) > .right {
    flex-basis: 20%;
    flex-shrink: 2000;
}

.container:nth-child(even) > .left, .container:nth-child(odd) > .right {
    flex-basis: 60%;
    flex-shrink: 2000;
}

.container:nth-child(even) {
    justify-content: flex-start;
}

.noscroll {
    overflow: hidden;
}

.blur {
    filter: blur(10px);
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    overflow-y: scroll;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.main > * {
    margin: auto 10px;
    width: 500px;
}

#main-bg{
    background-color: #ff6e2b;
    flex-basis: 100vh;
    background-image: url("Tracer-orangewhite.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}

.day-selector > label{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.time-select-list {
    display: none;
}





#story-container{
    background-image: url("REINSITE.png");
    background-repeat: no-repeat;
    background-position: auto;
    background-size: cover;
}

#recognize-container {
    background-color: #252525;
}

#recognize-container * {
    color: #dfdfdf;
}

#perform-container {
    background-color: #ff6e2b;
}

form > label {
    position: absolute;
    left:     -10000px;
    top:      auto;
    width:    1px;
    height:   1px;
    overflow: hidden;
}

#calendar {
    display: grid;
    background-color: #373737;
    grid-template: repeat(8, 50px)/ repeat(7, 50px);
    grid-gap: 2px;
    padding: 7px;
}

#month {
    grid-column: span 5;
    text-align: center;
}

button {
    padding: 3px 20px;
    flex-basis: 0%;
    flex-grow: 3;
    color: #dfdfdf;
    background-color: #252525;
    border: none;
}

.day-radio {
    display: none;
}

#info {
    display: flex;
    flex-direction: column;
    width: 362px;
    height: 414px;
    padding: 7px;
    background-color: #373737;
}

#about, #select-type{
    font-family: 'Saira Semi Condensed', sans-serif;
    background-color: #252525;
    color: #ff6e2b;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about {
    padding: 0px 20px;
    justify-content: start; 
    overflow-y: scroll;
}

#about, #select-type {
    flex-direction: column;
}

#about > *{
    color: #dfdfdf;
}

#calendar > .active:hover{
    transition: background-color .4s;
    background-color: #dfdfdf;
}

.down-arrow{
    left: 50%;
    transform: translateY(0%) rotate(45deg);
    
                  opacity: 0;
  }
  @keyframes scrolldown {
              0%{
                  transform: translateY(20%) rotate(45deg);
                  opacity: 0.7;
              }
              50%{
                  transform: translateY(0%) rotate(45deg);
                  opacity: 0.2;
              }
              100%{
                  transform: translateY(20%) rotate(45deg);
                  opacity: 0.7;
              }
          }